<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Silently rewrite root to dist folder
  RewriteRule ^$ dist/ [L]
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
